In [35]:
import pandas as pd
import numpy as np
def handlerate(value) :
    if(value== 'NEW' or value=='-'):
        return np.nan
    else:
        value = str(value).split('/')
        value = value [0]
        return float(value)

df = pd.read_csv('zomato.csv')
df.drop('url',axis=1,inplace=True)
df.drop('address',axis=1,inplace=True)
df.drop('reviews_list',axis=1,inplace=True)
df.drop('phone',axis=1,inplace=True)
df.drop_duplicates(inplace=True)
df.drop('dish_liked', axis = 1 , inplace = True)
df.drop(columns=['listed_in(city)','menu_item'] , axis = 1 , inplace = True)
df.rename(columns={"name":"restaurant_name","rate":"rating","approx_cost(for two people)":"cost_per_person"}, inplace=True)
df.drop('rest_type' , axis = 1 , inplace = True)
df.rename(columns={"listed_in(type)":"restaurant_type"} , inplace = True)
df.dropna(subset=['cuisines', 'cost_per_person'], inplace=True)
df['rating'] = df['rating'].apply(handlerate)
df['rating']=df['rating'].fillna(df['rating'].mean)
df['cost_per_person']=df['cost_per_person'].str.replace(',', '').astype(int)
df['cost_per_person']=df['cost_per_person']/2
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51267 entries, 0 to 51716
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   restaurant_name  51267 non-null  object
 1   online_order     51267 non-null  object
 2   book_table       51267 non-null  object
 3   rating           51267 non-null  object
 4   votes            51267 non-null  int64
 5   location         51267 non-null  object
 6   cuisines         51267 non-null  object
 7   cost_per_person  51267 non-null  float64
 8   restaurant_type  51267 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 3.9+ MB

In [36]:
df['online_order'] = df['online_order'].astype("string")
df['book_table'] = df['book_table'].astype("string")
df['location'] = df['location'].astype("string")
df['cuisines'] = df['cuisines'].astype("string")
df['restaurant_type'] = df['restaurant_type'].astype("string")
df['restaurant_name'] = df['restaurant_name'].astype("string")

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51267 entries, 0 to 51716
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   restaurant_name  51267 non-null  string
 1   online_order     51267 non-null  string
 2   book_table       51267 non-null  string
 3   rating           51267 non-null  object
 4   votes            51267 non-null  int64
 5   location         51267 non-null  string
 6   cuisines         51267 non-null  string
 7   cost_per_person  51267 non-null  float64
 8   restaurant_type  51267 non-null  string
dtypes: float64(1), int64(1), object(1), string(6)
memory usage: 3.9+ MB

In [41]:
df.to_csv('zomato_clean_data.csv' , index = False)